@font-face {
  font-family: CoreSans;
  src: url("S-Core - CoreSansM55Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: CoreSans;
  src: url("S-Core - CoreSansM65Bold.otf");
  font-weight: bol+d;
}

div.text_cell_render {
  font-family: CoreSans;
  padding-bottom: 0;
}

.reveal .slides > section > section {
  /* reduce padding at top of slide */
  padding-top: 0;
  top: -22px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: CoreSans;
  margin-bottom: .5em;
}

.inverse,
.reveal .inverse *,
.reveal .inverse a:not(.image) {
  color: #ddd;
}

.container {
  width: 100% !important;
}

.reveal sub, .reveal sup {
  font-size: 50%:
}

.rise-enabled .reveal pre,
.rise-enabled .reveal code {
  /* code font size */
  font-size: 92%;
  line-height: 125%;
  /* background: #fdf6e3; */
}

.rise-enabled .fragment {
/*  padding-top: 0;
  padding-bottom: 0; */
}

.rise-enabled pre,
.rise-enabled .fragment code {
  /* margin: 1em 0 0 0; */
  /* width: 100%; */
}

.rise-enabled .fragment pre,
.rise-enabled .fragment code {
/*  margin: 0; */
}

.rise-enabled td,
.rise-enabled th {
/*  padding: 15px; */
}

.rise-enabled .CodeMirror {
  max-width: 1425px !important;
}

section.present > :last-child:before {
  /* page break hint when last fragment appears */
  content: "→";
  color: #888;
  position: absolute;
  right: 0px;
  font-size: 16px;
}

.data-table td {
  font-family: monospace;
  font-size: 24px;
}

.data-table td,
.data-table th {
  padding: 5px;
}
